@import "react-alice-carousel/lib/scss/alice-carousel.scss";
/* Reset Styles */
* {
  color: inherit;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  max-width: 1280px;
  margin: 0 auto;
}

ul {
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}
